<!--

<layout-header></layout-header>

<router-outlet></router-outlet>

<layout-footer></layout-footer>

-->

<!-- Wrapper-->
<!--<div id="wrapper">

	<layout-navigation></layout-navigation>
	
    <div id="page-wrapper" class="gray-bg">

    	<layout-topnavbar></layout-topnavbar>

    	<router-outlet></router-outlet>

    	<layout-footer></layout-footer>

    </div>    

</div>-->

<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>

<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

    <layout-topnavbar></layout-topnavbar>

    <layout-navigation></layout-navigation>

    <router-outlet></router-outlet>

    <layout-footer></layout-footer>

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->

</div>